<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sleekydz86.server.market.board.infrastructure.mapper.BoardMapper">

    <resultMap id="BoardResultMap" type="com.sleekydz86.server.market.board.domain.Board">
        <id property="id" column="id"/>
        <result property="writerId" column="writer_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="post" javaType="com.sleekydz86.server.market.community.domain.vo.Post">
            <result property="title" column="title"/>
            <result property="content" column="content"/>
        </association>
        <association property="likeCount" javaType="com.sleekydz86.server.market.community.domain.vo.LikeCount">
            <result property="value" column="like_count"/>
        </association>
    </resultMap>

    <select id="findById" resultMap="BoardResultMap">
        SELECT id, title, content, writer_id, like_count, created_at, updated_at
        FROM board
        WHERE id = #{id}
    </select>

    <select id="findByIdUsingPessimistic" resultMap="BoardResultMap">
        SELECT id, title, content, writer_id, like_count, created_at, updated_at
        FROM board
        WHERE id = #{id}
            FOR UPDATE
    </select>

    <select id="findBoardWithImages" resultMap="BoardResultMap">
        SELECT b.id, b.title, b.content, b.writer_id, b.like_count, b.created_at, b.updated_at
        FROM board b
        WHERE b.id = #{boardId}
    </select>

    <select id="executeBoardCUD" statementType="CALLABLE" parameterType="map">
        {CALL sp_board_cud(
            #{operation, mode=IN, jdbcType=CHAR},
            #{id, mode=IN, jdbcType=BIGINT},
            #{title, mode=IN, jdbcType=VARCHAR},
            #{content, mode=IN, jdbcType=LONGVARCHAR},
            #{writerId, mode=IN, jdbcType=BIGINT},
            #{likeCount, mode=IN, jdbcType=INTEGER},
            #{resultMessage, mode=OUT, jdbcType=VARCHAR},
            #{affectedRows, mode=OUT, jdbcType=INTEGER}
        )}
    </select>

</mapper>
